@font-face {
    font-family: myFirstFont;
    src:url("../font/Inter-VariableFont_slnt,wght.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
body{
    font-family: "myFirstFont";
}

.tag-line{
    background-image: url('../image/brain-tap-main.jpg');
    background-repeat:no-repeat;
    background-position:center;
}
.tag-line::after {
    content: "";
    position: absolute;
    width: 50%;
    background: rgb(214,119,89);
    background: linear-gradient(98deg, rgba(214,119,89,1) 0%, rgba(246,247,250,0) 100%);
    opacity: .7;
    z-index: 1;
}
.tagline-content{
    height: 100vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 0% 10%;
    position: relative;
    gap: 35px;
}
.tag-line > div > h1{
    font-size: 2.5rem;
    font-weight: 900;
    z-index: 2;
    width: 40%;
}
.tag-line > div > p{
    z-index: 2;
    font-size: 1.1rem;
    width: 45%;
}
.tag-line > div > h1 > span{
    color: #C35029;
}

.logo-image{
    width: 100%;
    display: grid;
    place-items: center;
}

.braintap-content{
    display: flex;
    flex-direction: row;
    background-color: #c34f29b9;
    position: relative;
    height: 45vh;
}
.braintap-content > p{
    width: 40%;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    height: 100vh;
}
.braintap-content > div {
    width: 50%;
    position: absolute;
}
.braintap-image{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.braintap-image > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.braintap-image > img, .braintap-image > div> img{
    border-radius: 10px/10px;
}
.key-component{
    display: grid;
    place-items: center;
    margin-top: 100px;
}
.key-component > small{
    color: rgba(0, 0, 0, 0.516);
}
.key-component > p{
    color: #f64d15;
}
.components-container{
    display: grid;
    margin-top: 100px;
    gap: 30px;
}
.components-container > .images-sleep{
    display: flex;
    width: 100%;
    position: relative;
}
.images-sleep{
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.images-sleep > div{
    display: flex;
    position: absolute;
}
.images-sleep > img{
    border-radius: 10px/10px;
}
.images-sleep > div > img{
    border-radius: 10px/10px;
}  
.functionality{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.function{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.function > div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.function > div > h2{
    color: rgba(0, 102, 255, 0.666);
    white-space: nowrap;
}
.function > p{
    color: rgba(0, 0, 0, 0.516);
    padding-left: 50px;
}
.consideration{
    text-align: center;
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.686);
    margin-top: 40px;
}
.consi-statement-monther{
    position: relative;
}
.con-image{
    width: 100%;
    height: 90vh;
}
.con-image > img{
    width: 100%;
    height: 60vh;
}

.consi-statement{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 50px;
    justify-content: center;
}
.individual{
    background-color: rgba(255, 42, 0, 0.617);
    padding: 5px 15px;
    color: #FFFFFF;
}
.individual-label{
    font-size: 1.5rem;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #565555;
    color: #FFFFFF;
    padding: 20px 0;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    .logo-image img{
        width: 50%;
    }
    .braintap-image{
        display: flex;
        flex-direction: column;
        margin-left: 55%;
        margin-top: 2%;
    }
    .braintap-content{
        padding: 5px;
        height: fit-content;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .braintap-content p{
        margin-left: 8%;
        font-size: 15px;
        width: 45%;
        height: fit-content;
    }
    .braintap-image img{
        width: 60%;
    }
    .braintap-subimage img{
        width: 60%;
    }
    .key-component{
        margin-top: 3%;
    }
    .braintap-headset-img img{
        width: 89%;
    }
    .functionality{
        width: 100%;
    }
    .function h2{
        font-size: 13px;
    }
    .images-sleep img{
        width: 105%;
    }
    .images-sleep > div{
        flex-direction: column;
        gap: 25px;
        left: 100px;
        bottom: 27px;
    }
    .images-sleep-subimage{
        width: 27%;
        margin-left: 27%;
    }
    .con-image img{
        width: 100%;
        height: auto;
    }
    .consi-statement{
        top: 20vh;
        gap: 8%;
        width: 80%;
        height: fit-content;
        margin-left: 10%;
    }
    .footer{
        text-align: center;
        margin-top: 12vh;
        font-size: small;
    }
    .con-image{
        width: 100%;
        height: 60vh;
    }
} 

@media screen and (min-width: 400px){
    .logo-image img{
        width: 50%;
    }
    .braintap-image{
        display: flex;
        flex-direction: column;
        margin-left: 55%;
        margin-top: 2%;
    }
    .braintap-content{
        padding: 5px;
        height: fit-content;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .braintap-content p{
        margin-left: 8%;
        font-size: 15px;
        width: 35%;
        height: fit-content;
    }
    .braintap-image img{
        width: 50%;
    }
    .braintap-subimage img{
        width: 50%;
    }
    .key-component{
        margin-top: 3%;
    }
    .braintap-headset-img img{
        width: 89%;
    }
    .functionality{
        width: 100%;
    }
    .function h2{
        font-size: 13px;
    }
    .images-sleep img{
        width: 105%;
    }
    .images-sleep > div{
        flex-direction: column;
        gap: 25px;
        left: 100px;
        bottom: 27px;
    }
    .images-sleep-subimage{
        width: 27%;
        margin-left: 27%;
    }
    .con-image img{
        width: 100%;
        height: auto;
    }
    .consi-statement{
        top: 20vh;
        gap: 8%;
        width: 80%;
        height: fit-content;
        margin-left: 10%;
    }
    .footer{
        text-align: center;
        margin-top: 12vh;
        font-size: small;
    }
    .con-image{
        width: 100%;
        height: 60vh;
    }   
}

@media screen and (min-width: 760px){
    .braintap-content{
        height: fit-content;
    }
    .braintap-image{
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-left: 45%;
        align-items: center;
    }
    .braintap-content p{
        font-size: 20px;
        margin-top: 2vh;
        width: 35%;
        height: fit-content;
    }
    .braintap-image img{
        width: 60%;
    }
    .braintap-subimage img{
        width: 100%;
    }
    .consi-statement{
        bottom: 10px;
        margin-top: 20vh;
        height: fit-content;
    }
    .images-sleep > div{
        flex-direction: column;
        gap: 25px;
        left: 100px;
        bottom: 60px;
    }
    .footer{
        text-align: center;
    }
}

@media screen and (min-width: 900px) {
    .braintap-content{
        height: fit-content;
    }
    .braintap-image{
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-left: 45%;
        align-items: center;
    }
    .braintap-content p{
        font-size: 20px;
        margin-top: 2vh;
        width: 30%;
        height: fit-content;
    }
    .braintap-image img{
        width: 60%;
    }
    .braintap-subimage img{
        width: 100%;
    }
    .consi-statement{
        bottom: 10px;
        margin-top: 20vh;
        height: fit-content;
    }
    .images-sleep > div{
        flex-direction: column;
        gap: 25px;
        left: 100px;
        bottom: 60px;
    }
    .footer{
        text-align: center;
    }
}

@media screen and (min-width: 1020px) and (max-width: 2000px) {
    .tag-line{
        height: 92.3vh;
    }
    .tag-line::after {
        top: 0;
        left: 0;
        height: 92.5%;
    }
    .logo-image > img{
        max-width: 30%;
    }
    .braintap-content{
        height: 55vh;
    }
    .braintap-content > p{
        padding: 40px 0 0 100px;
        font-size: larger;
        margin-left: 0%;
        width: 40%;
        height: fit-content;
    }
    .braintap-image{
        height: 60vh;
        top: -50px;
    }
    .braintap-image > img{
        max-width: 60%;
    }
    .braintap-image > div> img{
        max-width: 75%;
    }
    .key-component{
        margin-top: 7%;
    }
    .braintap-content > div {
        right: 10px;
        bottom: -30px;
    }
    .key-component > small{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .key-component > p{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .components-container{
        grid-template-columns: 1fr 1fr;
        padding: 0 50px;
    }
    .braintap-headset-img > img{
        min-width: 100%;
    }
    .images-sleep > div{
        flex-direction: column;
        gap: 25px;
        left: 400px;
        bottom: 60px;
    }   
    .images-sleep > img{
        width: 100%;
        height: 40vh;
    }
    .images-sleep > div > img{
        max-width: 80%;
    }
    .images-sleep-subimage{
        width: 34%;
        margin-left: -10%;
    }   
    .consi-statement{
        bottom: 20px;
        margin-top: 40vh;
        height: fit-content;
    }
    .individual{
        width: 40%;
    }
    .individual > h3{
        font-size: 1.5rem;
    }
    .individual > p{
        font-size: 1.1rem;
        margin-top: 40px;
    }
    .con-image{
        width: 100%;
        height: 90vh;
    }
    footer{
        text-align: center;
        margin-top: 30px;
    }
}
