@font-face {
    font-family: myFirstFont;
    src:url("../font/Inter-VariableFont_slnt,wght.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
body{
    font-family: "myFirstFont";
}

.header-content{
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg,  rgba(65,105,225,1) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,0.22380938416435603) 100%);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-content > .back-icon{
    cursor: pointer;
    max-width: 5%;
    align-self: flex-start;
}
.header-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header-image hr{
    background-color: #CD5D74;
    height: 5px;
    border: 2px solid orangered;
}
.des1{
    font-weight: bold;
    text-align: center;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
}
.body-content1{
    display: flex;
    background: linear-gradient(to right, rgb(19, 19, 233), rgb(89, 89, 224), rgb(133, 133, 206));
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.brain-tap-logo{
    max-width: 50%;
}
.btext{
    color: white;
    text-align: center;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
}
.body-content1-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 20%;
    margin-top: 10px;
}
.key-concept{
    padding: 3%;
}
.key-concept-header{
    font-size: clamp(1rem, 2.3vw, 1.5rem);
    font-weight: 700;
}
.key-concept-box{
    border: 1px solid #565555;
    padding: 3%;
    margin-top: 2%;
}
.potential{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.potential .text{
    font-size: clamp(0.8rem, 2.3vw, 1rem);
    font-weight: 700;
}
.potential hr{
    background-color: #000;
    height: 5px;
    border: 2px solid  #000;;
}
.potential-content{
    display: grid;
    gap: 30px;
    margin-top: 10px;
}
.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 50vh;
}
.value h3{
    white-space: nowrap;
}
.footer{
    background-color: rgb(180, 177, 177);
}
ul{
    padding: 0% 5%;
}
@media screen and (min-width: 320px) {
    .header-content{
        padding: 1% 5%;
    }
    .header-image{
        width: 100%;
    }
    .header-image img{
        width: 100%;
    }
    .header-image hr{
        width: 70%;
    }
    .des1{
        margin-top: 5%;
    }
    .body-content1{
        flex-direction: column;
        align-items: center;
        padding: 5% 0%;
    }
    .body-content1 .image-device{
        max-width: 70%; 
        max-width: 40vh;
    }
    .btext{
        padding: 0% 4%;
    }
    .body-content1-icon > img{
        max-width: 15%;
    }
    li{
        padding: 2% 2%;
    }
    .potential hr{
        width: 15%;
    }
    .potential-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 1%
    }
    .value{
        padding: 1% 5%;
    }
    .value img{
        max-width: 30%;
    }
    .footer-content{
        padding: 4%;
    }
    .value p{
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 1020px) {
    .header-content{
        padding: 1% 5%;
    }
    .header-image{
        width: 100%;
    }
    .header-image img{
        width: 70%;
    }
    .header-image hr{
        width: 62%;
    }
    .des1{
        margin-top: 5%;
    }
    .body-content1{
        flex-direction: row;
        align-items: center;
        padding: 5% 0%;
    }
    .body-content1 .image-device{
        max-width: 100%; 
        max-width: 60vh;
    }
    .btext{
        padding: 0% 10%;
    }
    .body-content1-icon > img{
        max-width: 5%;
    }
    li{
        padding: 2% 0%;
    }
    .potential hr{
        width: 30%;
    }
    .potential-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0% 30%;
    }
    .value{
        padding: 0%;
    }
    .value img{
        max-width: 35%;
    }
    .footer-content{
        padding: 3%;
    }
    .value p{
        font-size: 1rem;
    }
}