@font-face {
    font-family: myFirstFont;
    src:url("../font/Inter-VariableFont_slnt,wght.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: Arial;
}

.babaw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left1 {
    text-align: left;
}

.left1 img{
    width: 30%;
}

.right1 {
    display: flex;
    direction: row;
}

.babaw a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.imgdako {
    width: 100vw;
    overflow-x: hidden;
}

.imgdako img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border: 0;
}

.reali{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container1 {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.wala1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tuo1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -130px;
}

.wala1 img {
    max-width: 100%;
    height: auto;
}

.pamagat, .pamagat2 {
    font-weight: bold;
    text-align: center;
}

.pamagat {
    font-size: 18px;
    text-decoration: underline;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    text-decoration: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.learn1{
    color: white;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.gradiant {
    background: linear-gradient(to right, #491949,#2f1476);
    display: flex;
    padding: 20px;
}

.right h2{
    font-size: 81px;
    margin: 0 0 -13px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.title1 h2{
    text-align: center;
}

.r1{
    color: white;
}

.r2,.r3{
    color: #67b622;;
}

.r2{
    font-weight: lighter;
}

.desc{
    color: white;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}

.icon-container {
    display: flex;
    justify-content: space-between;
}

.icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    width: 5vw;
    height: 5vw;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cerp h2{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 9px;
    color: #2f1476;
}

.cerp p{
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.footer{
    background-color: #565555;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
    margin-top: 30px;
}
 .footer p{
    color: white;
    line-height: 2;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
 }

 .footer a{
    text-decoration: none;
    color: white;
 }

 .content a{
    text-decoration: none;
 }



@media screen and (min-width: 320px) and (max-width: 1019px) {

    .right1 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #5f4b92;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    align-items: center;
    font-weight: bold;
    }

    .burger-menu {  
        display: block;
    }

    .babaw a {
        margin: 10px 0;
    }

    .right1 a{
        color: white;
    }

    .margin-ni{
        margin-left: 20px;
        margin-right: 0px;
    }

    .rea1{
        font-size: 24px;
    }

    .rea2{
        font-size: 30px;
        color: #2f1476;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 18px;
    }

    .container1 {
        display: flex;
        padding: 20px;
        flex-direction: row;
    }
    
    .wala1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    
    .tuo1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    .wala1 img {
        width: 150px;
        height: auto;
    }

    .pamagat2{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .pamagat{
        font-size: 13px;
    }

    .learn1{
        padding-left: 10px;
        padding-right: 10px;
    }

    .gradiant {
        flex-direction: column;
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left img {
        max-width: 50%;
        height: auto;
    }

    .right h2{
        font-size: 45px;
        line-height: 1.1;
    }

    .title1{
        margin-top: 30px;
    }

    .desc{
        margin-top: 30px;
    }

    .icon-container{
        margin-top: 20px;
    }

    .cerp{
        margin-top: 60px;
    }

    .cerp h2{
        margin-bottom: 40px;
        font-size: 25px;
    }

    .ceri {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .ceri img {
        max-width: 100%;
        height: auto;
        margin: 10px;
    }

    
    .footer p{
        line-height: 1.5;
      }
}

@media screen and (min-width: 1020px) {

    .babaw {
        font-size: 16px;
        justify-content: space-between;
    }

    .margin-ni {
        margin-left: 20px;
        margin-right: 20px;
    }

    .babaw a {
        margin: 0 10px;
    }

    .right {
        margin-left: 0px;
        margin-right: 0px;
    }

    .burger-menu {
        display: none;
    }

    .rea1{
        font-size: 60px;
    }

    .rea2{
        font-size: 80px;
        color: #2f1476;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 80px;
    }

    .container1 {
        display: flex;
        padding: 20px;
        flex-direction: row;
    }
    
    .wala1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    
    .tuo1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -35px;
        margin-right: 70px;
    }
    
    .wala1 img {
        width: 400px;
        height: auto;
    }

    .tuo1 img{
        width: 300px;
        height: auto;
    }

    .learn1{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 30px;
    }

    .pamagat2{
        margin-top: 30px;
        font-size: 18px;
    }
    
    .pamagat{
        margin-top: 30px;
        font-size: 25px;
    }

    .gradiant {
        flex-direction: row;
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left img {
        max-width: 100%;
        height: auto;
    }

    .right h2{
        font-size: 81px;
        line-height: .9;
    }

    .title1{
        margin-top: 30px;
    }

    .desc{
        margin-top: 60px;
    }

    .icon-container{
        margin-top: 20px;
    }

    .cerp{
        margin-top: 60px;
    }

    .cerp h2{
        margin-bottom: 60px;
        font-size: 85px;
    }

    .ceri{
        display: block;
        text-align: center;
    }

    .ceri img {
        margin: 0;
    }
}
