body {
    font-family: 'Inter', sans-serif;
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 30px;
    background: linear-gradient(to bottom, #4169e1, #ffffff) no-repeat;
    background-size: 100% 100%;
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#arrow-icon {
    margin-top: 2vw;
    margin-left: 2vw;
    width: 4vw;
    height: 4vw;
    background: url('images/10.png') no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.logo {
    text-align: center;
    margin: 20px 0 0;
    width: 100%;
    position: relative;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}
.content h2{
    color: #ffffff;
}

.image {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.works {
    margin: 20px 0;
}
.works h3 {
    margin: 20px 0;
    text-align: center;
    color: blue;
}

.works p {
    margin: 5px 0;
}
.works li {
    margin-left: 35px;
}

.blue-text {
    color: blue;
}

#main-container {
    padding: 2vw;
    text-align: center;
    margin: auto;
    max-width: 90vw;
    border-radius: 10px;
    margin-top: 20px; /* Add margin to separate it from the previous section */
}

#container2 {
    border-radius: 10px;
    padding: 2vw;
    text-align: center;
    margin: auto;
    max-width: 90vw;
    margin-bottom: 20px; /* Add margin at the bottom to separate from the next section */
}
#container2 h3{
    color: blue;
}
#prevention img,
#aging img,
#treatment1 img,
#treatment2 img {
display: block;
margin: 0 auto;
width: 6vw;
}

#prevention-container {
border: 2px solid blue;
display: flex;
flex-wrap: wrap;
justify-content: center; /* Updated this line */
align-items: center; /* Added this line */
padding: 2vw;
margin: auto;
max-width: 90vw;
}


#prevention,
#aging,
#treatment1,
#treatment2,
#additional-div {
    padding: 2vw;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2vw;
    width: 48%;
}

#prevention h4,
#aging h4,
#treatment1 h4,
#treatment2 h4,
#additional-div h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

.conclusion{
    width: 100%;
    background: linear-gradient(to right, green, blue), no-repeat;

}
.conclusion p{
    color: #ffffff;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content,
    .image {
        width: 100%;
        flex: none;
    }
}