@font-face {
    font-family: myFirstFont;
    src:url("../font/Inter-VariableFont_slnt,wght.ttf");
}
/* * {
    outline: 1px solid black;
} */

html, body {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
}

.babaw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    text-align: left;
}

.right {
    display: flex;
    direction: row;
}

.babaw a {
    text-decoration: none;
    color: black;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.sanzapro {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bold;
}

.sanzapro img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.sanzapro .bold-text {
    font-weight: bolder;
}

.sanzapro .overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: lighter;
}

.sanzaback {
    background-color: rgb(84, 91, 110);
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}

.sanzaback p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.lawas {
    margin-left: 20px;
}

.lawas img {
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.right1 {
    display: flex;
    direction: column;
}

.right1 {
    display: flex;
    direction: column;
    flex-direction: right;
}

.right1 h2{
    color: rgb(85, 82, 82);
    text-align: right;
}

.right1 p{
    background-color: rgb(84, 91, 110);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    padding: 50px;
    max-width: 100%;
    box-sizing: border-box;
    color: white;
    line-height: 1.5;
    font-size: 18px;
    background-repeat: no-repeat, repeat;
}

.right2 h2{
    color: rgb(85, 82, 82);
    text-align: right;
}

.right2 p{
    background-color: rgb(84, 91, 110);
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    padding: 50px;
    max-width: 100%;
    box-sizing: border-box;
    color: white;
    line-height: 1.5;
    font-size: 18px;
    background-repeat: no-repeat, repeat;
}

.footer{
    background-color: #565555;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: -20px;
}
 .footer p{
    color: white;
    line-height: 2;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 20px;
 }

 .footer a{
    text-decoration: none;
    color: white;
 }

 .p1 {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .p2 {
    background-color: rgb(84, 91, 110, 0.80);
    color: white;
    text-align: center;
    line-height: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    
  }

  .lawas1{
    margin-top: 50px;
  }

  .lawas1 img {
    width: 100%;
    height: auto;
    margin-top: -10px;
}



@media screen and (min-width: 320px) and (max-width: 1019px) {
    
    .right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(84, 91, 110);
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    align-items: center;
    font-weight: bold;
    }

    .burger-menu {  
        display: block;
    }

    .babaw a {
        margin: 10px 0;
    }

    .right a{
        color: white;
    }

    .margin-ni{
        margin-left: 20px;
        margin-right: 20px;
    }

    .sanzapro img {
        height: 300px;
    }

    .sanzapro .overlay-text {
        margin-top: -70px;
        margin-left: 100px;
        font-size: 30px;
    }

    .sanzaback {
        height: 50px;
        font-size: 12px;
    }
    
    .sanzaback p{
        margin-top: 30px;
    }

    .lawas {
        margin-top: 0px;
    }
    
    .lawas img {
        height: 250px;
        width: 300px;
        margin-bottom: 20px;
    }

    .right1 h2{
        font-size: 18px;
        padding-left: 40px;
        text-align: center;
    }

    .right1 p{
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 50px;
        max-width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }

    .right2 h2{
        font-size: 18px;
        padding-left: 40px;
        text-align: center;
    }

    .right2 p{
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        padding: 50px;
        max-width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }

      .p1 {
        max-width: 15%;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        padding-right: 40px;
        margin-top: -353px;
        left: 60px;
      }
    
      .p2 {
        background-color: rgb(84, 91, 110, 0.50);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        max-width: 35%;
        font-size: 100%;
        padding: 20px;
        margin-top: -150px;
        right: -70px;
        width: 800px;
      }

      .footer p{
        line-height: 1.5;
      }

}

@media screen and (min-width: 1020px) {

    .babaw {
        font-size: 16px;
        justify-content: space-between;
    }

    .margin-ni {
        margin-left: 20px;
        margin-right: 20px;
    }

    .babaw a {
        margin: 0 10px;
    }

    .right {
        margin-left: 0px;
        margin-right: 0px;
    }

    .burger-menu {
        display: none;
    }

    .sanzapro img {
        height: 400px;
    }

    .sanzapro .overlay-text {
        margin-top: -120px;
        margin-left: 250px;
        font-size: 80px;
    }

    .sanzaback {
        height: 100px;
        font-size: 20px;
    }
    
    .sanzaback p{
        margin-top: 50px;
    }
    
    .lawas {
        margin-top: 50px;
    }
    
    .lawas img {
        height: 400px;
        width: 700px;
    }

    .right1 h2{
        font-size: 25px;
        padding-left: 300px;
        text-align: center;
        justify-content: right;
    }

    .right1 p{
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        padding: 50px;
        max-width: 100%;
        line-height: 1.5;
        font-size: 18px;
        margin-left: 200px;
    }

    .right2 h2{
        font-size: 25px;
        padding-left: 300px;
        text-align: center;
        justify-content: right;
    }

    .right2 p{
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        padding: 50px;
        max-width: 100%;
        line-height: 1.5;
        font-size: 18px;
        margin-left: 200px;
    }

    .p1 {
        max-width: 15%;
        padding: 20px;
        font-size: 25px;
        text-align: center;
        margin-top: -345px;
        left: 150px;
      }
    
      .p2 {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        max-width: 35%;
        font-size: 20px;
        padding: 20px;
        padding-top: 90px;
        padding-bottom: 170px;
        margin-top: -215px;
        right: -200px;
        width: 800px;
      }

}

@media screen and (min-width: 1421px) {

#p2{
    margin-top: -235px;
    
}

}

@media screen and (min-width: 1887px) {

    #p3{
        margin-top: -235px;
        
    }

}
